Exercise 2
# Data Science Tools and Ecosystem

Exercise3

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala

Exercise 5

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

Exercise 6

| Data Science Tools |
| --- |
| Jupyter Notebook |
| Apache Spark |
| IBM WatsonX |

Exercise 7

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# Exercise 8
# This a simple arithmetic expression to mutiply then add integers
Value = (3*4)+5
print (Value)

17

In [13]:
# Exercise 9
# This will convert 200 minutes to hours by diving by 60
Minutes = 200
Hours = Minutes/60
print(Hours)

3.3333333333333335

Exercise 10

###### Objectives: 

List popular languages for Data Science
* Python
* R
* SQL
* Java
* Scala

## Author

Ashish Dash